.mat-form-field.mat-focused .mat-form-field-label {
    color: black;
}

input:focus {
    outline: none !important;
}

/* Cambia el color del focus ring a rojo */
input:focus {
    outline-color: black !important;
}